<!DOCTYPE html>
<html>
<head>


</head>
<body>

<% if(!user) { %>
<h2>Welcome!Please log in.</h2>
<a href="/auth/facebook">Login to Facebook</a>
<% } else { %>
<h2>Hello, <%= user.username %>.</h2>
<a href="/account">Check my Account</a>
<% }%>
</body>
</html>
